--- drivers/usb/misc/Kconfig	2013-10-21 21:14:33.000000000 +0800
+++ drivers/usb/misc/Kconfig	2013-10-29 23:38:18.000000000 +0800
@@ -303,3 +303,12 @@
 	  boot images, ram-dumps and efs sync
 	  To compile this driver as a module, choose M here: the module
 	  will be called ks_bridge. If unsure, choose N.
+
+config USB_QCOM_IPC_BRIDGE
+	tristate "USB Qualcomm IPC bridge bridge"
+	depends on USB
+	help
+	  Say Y here if you have a Qualcomm modem device connected via USB that
+	  will be bridged in kernel space. This driver works as a transport
+	  layer for IPC router module that enables communication between
+	  APPS processor and MODEM processor.
